/* stylelint-disable function-no-unknown */
@tailwind base; /* Add this line */
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Theme */

  .themeBlue {
    --theme-bg: theme(colors.primary);
    --theme-text: theme(colors.white);
    --theme-border: theme(colors.bordergray);
  }
  .themeBlack {
    --theme-bg: theme(colors.secondary);
      --theme-text: theme(colors.white);
      --theme-border: theme(colors.bordergray);
  }
}